[*]
n-gpu-layers = -1
flash-attn = on
sleep-idle-seconds = 600
cache-type-k = q8_0
cache-type-v = q8_0
top-k = 20
min-p = 0.0
chat-template-file = /chat_template.jinja
cache-type-k = q4_0
cache-type-v = q4_0